  darkstrPersona: {
    l10nId: "darkstr-mode-heading",
    headingLevel: 2,
    items: [
      {
        id: "darkstrMode",
        control: "moz-radio-group",
        l10nId: "darkstr-mode-radio",
        options: [
          { value: "homogeneous", l10nId: "darkstr-mode-homogeneous" },
          { value: "pollution", l10nId: "darkstr-mode-pollution" },
        ],
      },
      {
        id: "darkstrNativeCompatible",
        l10nId: "darkstr-native-compatible",
      },
      {
        id: "darkstrNativePersonaHooks",
        l10nId: "darkstr-native-persona-hooks",
      },
    ],
  },
